*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* This is style for Logo*/
.container_logo{
 padding:0px 15px
}

.Logo_img{
  border-radius: 50%;
  height: 60px;
  width: 60px;
}


.container{
 height: 70px;
 width: 90%;
 background-color: #fff;
 box-shadow: 0px 0px 10px;
 position: fixed;
 left: 5%;
 display: flex;
 justify-content:space-between;
 align-items: center;
 border-radius: 0px 0px 5px 5px;
 z-index: 1;
}

nav,ul,li{
  display: flex;
  gap: 0px 30px;
  list-style: none;
  flex-wrap: wrap;
}

a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

a:hover{
  color: #c77a3b;
}

.Ourmission_span{
  background-color: #CD8C5F;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

/*Login style*/
.container_login{
  padding: 0px 15px;
}

.Log_span{
  color: #fff;
}
.btn_login{
  padding: 5px 20px;
  border: none;
  background-color: #CD8C5F;
  border-radius: 5px;
  color: #fff;
}

.btn_login:hover{
   background: #a8622f;
}
.container_txt{
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Discription for Our Mission*/

.container_Mission{
  background-color: #E8E1D9;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 50px;
}

.discription{
  color: #4E4E4C;
  width: 400px;
  height:auto;
}

.ds_title{
  color: #4E4E4C;
  width: 500px;
  font-size: 2.5rem;
}

.ds_par{
  margin-top: 20px;
  width: 400px;
  font-size: 20px;
}

.images_dor_DC_Container{
 position: relative;
 height: 400px;
 width: 500px;
 display: flex;
 flex-wrap: wrap;
}

.img1{
  transition: 0.7;
  cursor: pointer;
  position: absolute;
  top:0;
  left:10%;
  z-index: 0;
}
.img2{
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
  top: 55%;
  left:18%;
  z-index: 0;
}
.img3{
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
  top:10%;
  left: 55%;
  z-index: 0;
}

.Image1:hover{
  transition: scale(1.2);

}
.Image1{
  height: 200px;
  width:200px;
  border-radius: 20px;
}
.Image2{
  height:170px;
  width:170px;
  border-radius: 20px;
}
.Image3{
 height: 250px;
 width:250px;
 border-radius: 20px;
}

/*Discription for Our Responding*/

.container_responding{
  height: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.empty_box{
  height: 450px;
  width: 3px;
  background: #a8622f;
}

.image_rp{
  display: flex;
  justify-content: center;
  align-items:center;
}

.Image_rp1{
  margin-right: 20px;
  border-radius: 20px;
}


.discription_responding{
  width:600px;
}

.ds_title_pr{
  color: #4E4E4C;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.ds_rp_par{
  color: #4E4E4C;
  margin-top: 25px;
  font-size: 20px;
}

 /*This is Our Table for creat free acount*/



 .Create_acc_container{
  height: 200px;
  width: 100%;
  background-color: #E8E1D9;
  display: flex;
  align-items: center;
  justify-content: space-around;
 }

 .Creat_acc{
  width:800px;
 }

 .Create_title{
  color: #4E4E4C;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
 }

 .Create_par{
  color: #4E4E4C;
  width: 600px;
  margin-top: 20px;
  font-size: 20px;
 }

 .Rgt_btn{
  padding: 5px 20px;
  border: none;
  background-color: #CD8C5F;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
 }

 .Rgt_btn:hover{
  background-color: #c77a3b;
 }

 .Rgt_btn_st{
  color: #fff;
  font-size:15px;
  text-decoration: none;
 }
 
 .Rgt_btn_st:hover{
  color: #fff;
 }

 /* Container_for_information*/

 .Container_for_information{
  height: 300px;
  width: 100%;
  background-color: #CD8C5F;
  display: grid;
  grid-template-columns: 2.5fr 50px 2fr;
  grid-template-rows: 300px 300px 300px ;
  place-items:center;
 }

 .info_N_Add{
  height: 200px;
  width: 400px;
 }

 .Image_logo{
  border-radius: 50%;
  height: 60px;
  width: 60px;
 }

 .empty_box2{
  height: 260px;
  width: 3px;
  background-color: #E8E1D9;
 }

 .PhoneNum{
  margin-top: 20px;
  font-size:15px;
  color: #E8E1D9;
 }

 .Address{
  margin-top: 5px;
  font-size:15px;
  font-weight:200px;
  color: #E8E1D9;
 }

 .Link_address{
  text-decoration: none;
  color: #000;
  font-size:13px;
 }

 .Link_address:hover{
  color: #fff;
  text-decoration: underline;
 }

 /*This is our container for Time Opening*/

 .Time_title{
  color: #E8E1D9;
  font-size:30px;
 }

 .time{
  color: #fff;
  font-size: 20px;
  padding: 20px 50px;
 }

 .text1,
 .text2{
  padding: 5px 0px;
 }